html,body{
	min-height:100%;
}

body{
	-webkit-perspective: 1000px;
	perspective:1000px;
	-moz-perspective:1000px;
	-webkit-perspective-origin: 50% 50%;
	-moz-perspective-origin:50% 50%;
	perspective-origin:50% 50%;

}

.perspective-box{}
.perspective-mirror{}


.perspective-box-inner{
	position:absolute;
	transform-style:preserve-3d;
	margin:0;
	height:inherit;
	width:inherit;
	color:#fff;
	z-index: -1;
}
.perspective-box figure{
	margin:0;
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	background-color:#aaa;
	
}
.perspective-box .front{
	opacity:1;
}
.perspective-box .right{
	-webkit-transform-origin:right;
	transform-origin:right;
	-moz-transform-origin:right;

	-ms-transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);

    opacity:.8;
}
.perspective-box .top{
	transform-origin: top;
	-webkit-transform-origin:top;
	-moz-transform-origin:top;

	-ms-transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    opacity:.6;
}
.perspective-box .left{
	transform-origin: left;
	-webkit-transform-origin:left;
	-moz-transform-origin:left;

	-ms-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    opacity:.4;
}
.perspective-box .bottom{
	transform-origin: bottom;
	-webkit-transform-origin:bottom;
	-moz-transform-origin:bottom;

	-ms-transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    opacity:.2;
}

/*/////////////////////////////////////////////////////*/

.perspective-mirror-inner{
	position:absolute;
	transform-style:preserve-3d;
	margin:0;
	height:inherit;
	width:inherit;
	color:#fff;
	background-color: inherit;
	z-index: -1;
}
.mirror{
	z-index: -50;
	transform-style:preserve-3d;
	margin:0;
	position:absolute;
	display:block;
	width:inherit;
	height:inherit;
	background-color: inherit;
	transform: translateZ(-100px);
	border: solid 1px #000;
	opacity:0.8;
	
}