html,body{
	min-height:100%;
}

body{
	-webkit-perspective: 1000px;
	perspective:1000px;
	-moz-perspective:1000px;
	-webkit-perspective-origin: 50% 50%;
	-moz-perspective-origin:50% 50%;
	perspective-origin:50% 50%;

}

.perspective-box{box-sizing:border-box;}
.perspective-fade{}

.perspective-box-inner{
	position:absolute;
	margin:0;
	height:inherit;
	width:inherit;
	color:#fff;
	z-index: -1;
	background: inherit;
	box-sizing:border-box;
}
.perspective-box figure{
	margin:0;
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	background:inherit;
	box-sizing:border-box;
}
.perspective-box .front{
	opacity:1;
}
.perspective-box .right{
	-webkit-transform-origin:right;
	transform-origin:right;
	-moz-transform-origin:right;

	-ms-transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);

    opacity:.8;
}
.perspective-box .top{
	transform-origin: top;
	-webkit-transform-origin:top;
	-moz-transform-origin:top;

	-ms-transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    opacity:.6;
}
.perspective-box .left{
	transform-origin: left;
	-webkit-transform-origin:left;
	-moz-transform-origin:left;

	-ms-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    opacity:.4;
}
.perspective-box .bottom{
	transform-origin: bottom;
	-webkit-transform-origin:bottom;
	-moz-transform-origin:bottom;

	-ms-transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    opacity:.2;
}

/*/////////////////////////////////////////////////////*/

.perspective-fade-inner{
	position:absolute;
	margin:0;
	height:inherit;
	width:inherit;
	color:#fff;
	background-color: inherit;
	z-index: -1;
	box-sizing:border-box;
}
.fade{
	z-index: -50;
	margin:0;
	position:absolute;
	display:block;
	width:inherit;
	height:inherit;
	background-color: inherit;
	transform: translateZ(-5px);
	opacity:0.95;
	box-sizing:border-box;
	
}

/*/////////////////////////////////////////////////////*/

.depthly-text{
	color:#fff;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}