#element1{
	width:246px;
	height:246px;
	margin:10px;
	background-color:#3ed4f0;
	float:left;
}
#element2{
	width:200px;
	height:200px;
	margin:10px;
	background-image:url("image.jpg");
	background-size: cover;
	color:#000;
	padding:20px;
	float:left;
}
#element3{
	width:380px;
	height:380px;
	margin:10px;
	background-color:#777;
	color:#000;
	padding:20px;
	float:left;
	text-decoration: none;
}
#element3:hover{
	background-image:url("maze/hedge.jpg");
	background-size: 25%;
}
#rainbow{
	width:246px;
	height:246px;
	margin:10px;
	float:left;
	position:relative;
}
#rainbow div{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-size: 100% 100%;
}
.intro{
	width:800px;
	height:270px;
}
.examples{
	width:800px;
	height:790px;
}
#red{
	background-image:url("red.png");
}
#orange{
	background-image:url("orange.png");
}
#yellow{
	background-image:url("yellow.png");
}
#green{
	background-image:url("green.png");
}
#blue{
	background-image:url("blue.png");
}
#violet{
	background-image:url("violet.png");
}

p{
	padding:10px;
	font-family: 'Open Sans', sans-serif;
}
#header {
  	font-family: 'Open Sans', sans-serif;
  	font-size:100px;
}
#el1text{
	font-size: 30px;
	color:#fff;
}