html,body{
	min-height:100%;
}

body{
	-webkit-perspective: 1000px;
	-webkit-perspective-origin: 50% 50%;
	perspective-origin:50% 50%;
}
.perspective{


}

.box{
	margin:20px;
	height:200px;
	width:200px;
	background-color:#00f;
	color:#fff;
	z-index: 1;

}
.big{
	width:500px;
	height:500px;
}
.rightwall{
	background-color: #f00;
	height:100%;
	width:100%;

	transform-origin:right;

	-ms-transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    opacity:.6;
    z-index: 3;
}
.topwall{
	background-color: #0f0;
	height:100%;
	width:100%;
	
	transform-origin: top;

	-ms-transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    opacity:.6;
    z-index: 2;
}
.leftwall{
	background-color: #d00;
	height:100%;
	width:100%;

	/*transform-origin: 0;*/

	-ms-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    opacity:.6;
}